version: '3.8'

services:
  jukebox:
    build: .
    container_name: pi_jukebox
    restart: always
    # 關鍵：讓容器直接使用樹莓派實體網路，這樣程式才抓得到 wlan0
    network_mode: host
    
    # 注意：Host 模式下不需要 ports 設定，請務必移除
    # ports:
    #   - "8000:8000"
    
    devices:
      - /dev/snd:/dev/snd
    volumes:
      - ./app:/app
      - /run/user/1000/pulse:/run/user/1000/pulse
    environment:
      - PULSE_SERVER=unix:/run/user/1000/pulse/native
      - PULSE_COOKIE=/run/user/1000/pulse/cookie
      - HOME=/app